<ul class="list-group">
    <li class="list-group-item">Doctors Faculty</li>
  
  
    <li class="list-group-item list-group-item-danger">Dr. Adalatwale Divya</li>
    <li class="list-group-item list-group-item-secondary">Dr. Adatia Pawan</li>
    <li class="list-group-item list-group-item-success">Dr. Rohan Shinde</li>
    <li class="list-group-item list-group-item-danger">Dr. Avinas patil</li>
    <li class="list-group-item list-group-item-warning">Dr. Shreyas Shukla</li>
    <li class="list-group-item list-group-item-success">Dr. Kartiki Pathare</li>
    <li class="list-group-item list-group-item-light">Dr. Shraadha Dhotre</li>
    <li class="list-group-item list-group-item-success">Dr. Priyanka kumari</li>
  </ul>