<div class="container">
    <h2>Patients Details</h2>
    <p>Details of Patients available in Hospital</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Date of Addmission</th>
          <th>Date of Discharge</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@google.com</td>
          <td>15-02-2023</td>
          <td>22-02-2023</td>

        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
          <td>12-01-2023</td>
          <td>15-02-2023</td>
        </tr>
        <tr>
          <td>JRoy</td>
          <td>Sons</td>
          <td>jroyy@example.com</td>
          <td>22-02-2023</td>
          <td>23-02-2023</td>
        </tr>
        <tr>
            <td>Sam</td>
            <td>cool</td>
            <td>sami@example.com</td>
            <td>15-02-2023</td>
            <td>23-02-2023</td>
          </tr>
          <tr>
            <td>fox</td>
            <td>ray</td>
            <td>fray@example.com</td>
            <td>12-02-2023</td>
            <td>31-02-2023</td>
          </tr>
          <tr>
            <td>Mox</td>
            <td>ra</td>
            <td>moxr@example.com</td>
            <td>16-02-2023</td>
            <td>25-02-2023</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>17-02-2023</td>
            <td>31-02-2023</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>17-02-2023</td>
            <td>23-02-2023</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>17-02-2023</td>
            <td>23-02-2023</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>17-02-2023</td>
            <td>23-02-2023</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>17-02-2023</td>
            <td>23-02-2023</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>17-02-2023</td>
            <td>23-02-2023</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>17-02-2023</td>
            <td>23-02-2023</td>
          </tr>
      </tbody>
    </table>
  </div>