<p style="border: 2px;">
    Deenanath Mangeshkar Hospital & Research Center is a charitable, multi-specialty hospital located in the heart of Pune, India. Founded in 2001, today it is one of the largest hospital in Pune, with 800 beds. Deenanath Mangeshkar Hospital offers state-of-the-art diagnostic, therapeutic and intensive care facilities in a one-stop medical center.
    
    The Deenanath Mangeshkar Hospital is beautifully designed, having a central atrium with four wings built around it. It is a 800-bed hospital with 12 operation theaters, a sophisticated ICU, blood bank, a digital radiology unit, a kidney transplant unit, and many other facilities. It has some of the best equipment for diagnostics as well as treatment, and is staffed by some of the finest medical and administrative personnel available in Pune. We are Pioneers in EMS in India, EMS with Cardiac & Trauma Ambulances. Great attention is given to the needs of the patients and their relatives. It is a truly multispecialty hospital, providing super-specialty care in cancer, voice disorders, cardiology and cardiothoracic surgery, gastroenterology, Joint Replacement, Urology, Nephrology and Neurology
    
    Vision
    "To provide Rational Ethical Medical Services of Highest Quality to all Patients at affordable cost without any discrimination."
    
    Mission
    "To provide competent, ethical, tertiary healthcare services with charity as a core value."
    
    Core Values
    Patient-centric Care
    Rational & Ethical Medical Practice
    Holistic Approach
    Charity
    Quality Policy
    Deenanath Mangeshkar Hospital believes in highest professional competence with a human touch and will deliver excellent medical treatment to everyone. We will follow rational and ethical medical practices implicitly. We are committed to medico-social services.
    
    Quality Objective
    We will sincerely work together as a team to make Deenanath Mangeshkar Hospital a medical centre of international reputation. We will provide excellent health education pre and post hospital care. We will not discriminate between rich and poor with regard to medical treatment.
    
    History
    Bharat Ratna Smt. Lata Mangeshkar has ruled the hearts of India’s music lovers for over 65 years. Her mellifluous voice has weaved a magical and melodious web across the world, transcending all boundaries of caste, creed, gender, faith or nationality.
    
    Daughter of the great Marathi singer and actor of the early twentieth century, Late Master Deenanath Mangeshkar, Smt. Lata Mangeshkar is the eldest of five siblings, all extraordinarily talented in the field of music. It was in 1989 that the five siblings, viz. Smt. Lata Mangeshkar, Smt. Asha Bhonsale, Smt. Usha Mangeshkar, Smt. Meena Khadikar and Shri. Hridaynath Mangeshkar constituted the Lata Mangeshkar Medical Foundation.
    
    Jnana Prabodhini, an institution, which motivates intelligent students for social change. Appa Pendse was the Founder of Jnana Prabodhini. Past students of this school came together in 1993 to establish the Jnana Prabodhini Medical Trust. 
    
    Deenanath Mangeshkar Hospital features a 24-hour Emergency, 12 operating theatres; four types of intensive care units (adult, pediatric, cardiac and a neo-natal ICU); and a rehabilitation center.
    
    Surgical facilities include one cardiac catheterization labs, 12 operating theaters (two specifically set up for cardiac surgery), a surgical navigation system; plus endoscopy, arthroscopy, lithotripsy and interventional radiology capabilities.
    
    Other special capabilities include:
    
    Complete Dignostic Imaging
    3 Tesla MRI; CT; 64 slices CT scanning; Portable CT
    PACS digital imaging management
    Radiation Therapy
    Siemens Linear accelerator
    CT Simulator
    Simulator topometric devices for pre-radiation preparation of patients to ensure accuracy
    3-D computer planning system with direct connection to CT & MRI imaging systems
    State-of-the-art-treatment Planning
    3D conformal brachytherapy treatment planning
    Custom block fabrication ; Allows the radiation oncologists to protect healthy tissue and organs by using custom made protection</p>
