<DIv class="row" style="text-align: center; background-color: lightblue;">
  <h1>
   Welcome To Medicare
  </h1>
</DIv>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="Medicare">Medicare</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="Home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Deparment <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Cardiac Surgery</a></li>
          <li><a href="#">Microbiology.</a></li>
          <li><a href="#">Radiology</a></li>
        </ul>
      </li>
      <li><a routerLink="opds">OPDs Doctors</a></li>
      <li><a routerLink="#">Operations Thearters</a></li>
      <li><a routerLink="mediclame">Medicine Clam</a></li>
      <li><a href="#">Treatment Speciliest</a></li>
      <li><a routerLink="discharge">Discharge</a></li>
      <li><a routerLink="aboutus">About us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="PaymentGateway"><span class="fa fa-rupee-sign>"></span> PaymentGetway</a></li>
      <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>