<div style="image-resolution: 500px;">
    
<img src="https://lh3.googleusercontent.com/6fgIapIk6V54L8Kea4jwpZVXsl7H-CmGtq7w8RfMIBu1TUwI0ILQcJSEO7SrLEdYCx2eHlY5B6JbfC4E64DtHSrPd_44aDw5RR84x15p=w400-rw" alt="">
</div>
<div style="col-md-6">
    <h3>Medicine is the field of health and healing. It includes nurses, doctors, and various specialists. It covers diagnosis, treatment, and prevention of disease, medical research, and many other aspects of health.</h3>
</div>
<tr></tr>
<div>
    <h1>Types of medicines</h1><br>
    <h3>
        Liquid. The active part of the medicine is combined with a liquid to make it easier to take or better absorbed. ...
        <br>
        Tablet. <br>
        The active ingredient is combined with another substance and pressed into a round or oval solid shape. ...
        <br>
        Capsules. ...<br>
        Topical medicines. ...<br>
        Suppositories. ...<br>
        Drops. ...<br>
        Inhalers. ...<br>
        Injections.</h3><br>
</div>