<div class="jumbotron text-center">
    <h1>Welcome to Medicare How may i help You</h1>
    <p>Please Select The catagery According to your choise !</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4" style="background-color: lightgreen;">
        <h3>Doctor Appointment</h3>
        <p>Please Enter the Doctor Name For Availableaty</p>
        <p>Please enter your correct Details about you and Please provide your feedback</p>
        <input type="submit" class="btn btn-success">
        <input type="Text-box">
        <input type="Reset" name="" id="">
      </div>
      <div class="col-sm-4" style="background-color: lightblue;">
        <h3>Medical Store</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        <input type="submit" class="btn btn-success">
        <input type="Text-box">
        <input type="Reset" name="" id="">
      </div>
      <div class="col-sm-4" style="background-color: lightcoral;">
        <h3> Emergency Ward</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        <input type="submit" class="btn btn-success">
        <input type="Text-box">
        <input type="Reset" name="" id="">
      </div>
    </div>
  </div>